*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    background-color: #151c39e8;
    color: white;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.menu-item{
    list-style: none;
}

.menu-link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.banner-title, .banner-description{
    text-align: center;
    color: white;
}
.banner-title{
    font-size: 48px;
}
.banner-section{
    background: url('../img/banner-bg.jpg');
    padding: 100px 0;
    background-size: cover;
    background-position: center;
}
.cards-section{
    padding: 50px 0;
}

.cards-title, .cards-descrition{
    text-align: center;
    color: #151c39e8;
}
.card{
    width: 20%;
    padding: 25px;
    margin-top: 25px;
    box-shadow: 0px 5px 7px 0px grey;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
}
.cards-title, .card-text{
    margin-top: 15px;
}
.card-link{
    display: block;
    background-color: #151c39e8;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px;
}

.footer{
    background: url('../img/footer-bg.jpg');
    padding: 100px 0;
    color: white;
}
.subscribe-form > input{
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.menu {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    flex-wrap: wrap;
    gap: 30px;
}
.cards-row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
}
.card {
    order: 1;
}
.cards-end {
    align-self: flex-end;
    order: 2;
    flex-grow: 2;
}
.cards-center {
    order: 3;
    align-self: center;
}